/* src/App.css */
.sidebar {
  background-color: #f7f7f7;
  border-right: 1px solid #dee2e6;
  height: 100vh;
  padding-top: 20px;
}

.dashboard {
  background-color: #ebe5e5;
  height: 100vh;
}

.card {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dee2e6;
}

.card-title {
  font-size: 1.2rem;
  color: #333;
}

.card-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.table th, .table td {
  text-align: center;
}

button.btn-warning {
  float: right;
}

.icon {
  width: 80px; /* Adjust the size as needed */
  height: 80px; /* Adjust the size as needed */
  margin-right: 1px; /* Space between image and text */
}

/* Devices */
.devices .card-body {
  display: flex;
  align-items: center;
}

.devices .card-body img {
  margin-right: 10px;
}

.devices h5 {
  margin-bottom: 10px;
}