/* src/components/Header.css */
.header-navbar {
    background-color: #343a40; /* Dark grey background */
    padding: 10px 20px;
    border-bottom: 1px solid #dee2e6;
  }
  
  .header-logo {
    height: 30px;
    align-items: center; /* Spacing between logo and title */
  }
  
  .header-navbar .navbar-brand {
    display: flex;
    align-items: center;
    color: #000000; /* White text color for the Dashboard title */
    margin-right: auto; /* Pushes the brand/logo to the left */
  }
  
  .header-navbar .nav-link {
    color: #ffffff; /* White color for icons */
    margin-left: 15px;
  }
  
  .header-navbar .header-icon {
    height: 25px;
    width: 25px;
    vertical-align: middle;
  }
  