/* src/components/Stock.css */
.stock-page h3 {
    margin-bottom: 30px;
    
  }
  
  .table {
    margin-top: 20px;
  }
  
  .btn-warning {
    background-color: #ffc107;
    border: none;
  }
  
  .btn-light {
    background-color: #e9ecef;
    border: none;
  }
.stock-page {
    background-color: #ebe5e5;
    height: 100vh;
}